{% extends "home.html" %}
{% load i18n %}
{% load static %}
{% block test %}

{# Anzeige um die Reservierungen nach Räumen zu filtern #}
<div class="m-2">
    <form method="GET">
        {{ filter.form.as_p }}
        <div class="m-2"><button type="submit" , class="btn btn-sm btn-outline-primary">Filtern</button>
        </div>
    </form>
</div>

<div class="m-2"><a class="btn btn-sm btn-outline-primary" href="{% url 'order_create' %}">Bestellung erstellen</a>
</div>



{# Anzeige der Reservierungen als Kachel #}
<div class="row">

    {% for object in orderStatus %}

    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em"> {{
                    object.orderNumber.orderNumber }}</text>
            </svg>
            <div class="card-body">
                <p class="card-text">Auftragsnummer: {{ object.orderNumber.orderNumber }}</p>
                <p class="card-text">Teil: {{ object.orderPart }}</p>
                <p class="card-text">Farbe: {{ object.color }}</p>
                <p class="card-text">Schraube: {{ object.screw }}</p>
                <p class="card-text">Status Teilauftrag: {{ object.orderStatus }}</p>
                <p class="card-text">Status Gesamtauftrag: {{ object.orderNumber.orderStatus }}</p>

                <div class="btn-group-vertical">
                    <!-- <div class="btn-group"> -->

                    <a class="btn btn-sm btn-outline-primary"
                        href="{{ object.orderNumber.get_absolute_url }}">Ansehen</a>
                    {% if user.is_staff %}
                    <a class=" btn btn-sm btn-outline-secondary" href="{{ object.orderNumber.get_update_url }}">Auftrag
                        bearbeiten</a>
                    {% endif %}

                    {% if object.orderStatus == 'NEW' %}
                    <a class="btn btn-sm btn-outline-info"
                        href="{% url 'order_start' object.orderNumber.id object.id %}">Auftragsbearbeitung
                        starten</a>
                    {% elif object.orderStatus == 'PROCESSING'%}
                    <a class="btn btn-sm btn-outline-info"
                        href="{% url 'order_start' object.orderNumber.id object.id %}">Auftragsbearbeitung
                        beenden</a>

                    {% endif %}


                    <!-- </div> -->




                    <!-- <div class="btn-group"> -->
                    <a class=" btn btn-sm btn-outline-warning"
                        href="{% url 'quality_create' object.orderNumber.id object.orderPart%}">Qualitätsmeldung
                        erstellen</a>
                    <!-- </div> -->

                </div>



            </div>
        </div>
    </div>
    {% empty %}
    <li>Keine Reservierungen vorhanden.</li>

    {% endfor %}
</div>

{% endblock %}