{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}




{% block content %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
{% else %}
<p>Please login to see this page.</p>
{% endif %}
{% endif %}

<body class="text-center">
    <form class='form-signin' method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal">Log In</h1>
        {{form.as_p}}

    </form>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Log In</button>
    </form>
</body>


{% endblock %}